@model List<Setting>
@{
    int counter = 0;
}
<div class="container-fluid row text-align-center justify-content-between">
    <h5>Setting Page</h5>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>

                    <th scope="row">@counter</th>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    
                    <td>
                        <a asp-action="update" asp-controller="setting" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                        
                       

                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>